<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог книг</title>
</head>
<body>
<h1><a href="/books">Каталог</a></h1>
{% for b in book %}
    <h2>{{ b.name }}</h2>
    <p>{{ b.author }}</p>
    <p>{{ b.pub_date }}</p>
{% endfor %}

{% if next_page %}
    <p><a class="button button-primary" href="{{ next_page }}">{{ next_page }}</a></p>
{% endif %}
{% if previous_page %}
    <p><a class="button button-primary" href="{{ previous_page }}">{{ previous_page }}</a></p>
{% endif %}

</body>
</html>